<h1>London Pubs</h1>

<div class="row">
  <% @pubs.each do |p| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= render 'pub-card', drinking_establishemnt: p %>
    </div>
  <% end %>
</div>
